.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    position: relative;
}

.container {
    width: 1250px;
    margin-top: calc(68px + 80px);
    // background-color: var(--white);
}
